[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zappa = "*"
pyjwt = "*"
flask = "*"
flask-restful = "*"
pynamodb = "*"

[requires]
python_version = "3.7"
